#map

#datetime
    #date
        24th October 2014
    #time
        10:00
#frame

#slider

%script{src: "/js/scenario_config.js"}
%script{src: "/js/scenario_tweet_producer.js"}
%script{src: "/js/scenario.js"}
